  <div class="login-container">
    <h2>Sign in to LMS</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" formControlName="Username" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" formControlName="password" required>
      </div>
      <div>
        <b>{{error}}</b>
      </div>
      <div>
        <button type="submit" [disabled]="!loginForm.valid">Login</button>
      </div>
      <div style="margin: 25px 69px;">
        <!--<label>Not a member? <a class="signup" href="http://localhost:49814/home">SignUp</a></label>-->
        <label>Not a member? <a class="signup" [routerLink]="['/home']">SignUp</a></label>
      </div>
    </form>
  </div>
