<div class="form-container">
  <h2>Add Course</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Course Name:</label>
      <input type="text" id="name" name="name" [(ngModel)]="project.name" required>
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea id="description" name="description" [(ngModel)]="project.description" required></textarea>
    </div>
    <div class="form-group">
      <label for="technology">Technology:</label>
      <input type="text" id="technology" name="technology" [(ngModel)]="project.technology" required>
    </div>
    <div class="form-group">
      <label for="duration">Duration:</label>
      <input type="text" id="duration" name="duration" [(ngModel)]="project.duration" required>
    </div>
    <div class="form-group">
      <label for="launchUrl">Launch URL:</label>
      <input type="url" id="launchUrl" name="launchUrl" [(ngModel)]="project.launchUrl" required>
    </div>
    <button type="submit">Add</button>
    <button [mat-dialog-close]="false">Cancel</button>
  </form>
</div>
